<div *ngIf="positions$ | async as positions">
  <table class="highlight" *ngIf="positions.length !== 0; else empty">
    <thead>
    <tr>
      <th>Название</th>
      <th>Стоимость</th>
      <th>Количество</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let position of positions">
      <td>{{position.name}}</td>
      <td>{{position.cost}} руб.</td>
      <td>
        <div class="input-field inline order-position-input">
          <input
            ([ngModel])="position.quantity"
            type="number"
            value="1"
            min="1">
        </div>
      </td>
      <td>
        <button
          class="btn waves-effect wavers-light btn-small"
          (click)="addToOrder(position)"
          [disabled]="!position.quantity"
        >
          Добавить
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <ng-template #empty>
    <div class="center">В данной категории пока нет позиций</div>
  </ng-template>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
