<form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="card-content">
    <span class="card-title">Войти в систему</span>
    <div class="input-field">
      <input id="email" type="email" formControlName="email"
        [ngClass]="{ 'invalid': form.get('email').invalid && form.get('email').touched }" />
      <label for="email">Email:</label>

      <span *ngIf="form.get('email').invalid && form.get('email').touched"
        class="helper-text red-text"
      >
      <span *ngIf="form.get('email').errors['required']">Email не должен быть пустым</span>
      <span *ngIf="form.get('email').errors['email']">Введите корректный email</span>
      </span>
    </div>

    <div class="input-field">
      <input id="password" type="password" formControlName="password"
      [ngClass]="{ 'invalid': form.get('password').invalid && form.get('password').touched }" />
      <label for="password">Пароль:</label>

      <span *ngIf="form.get('password').invalid && form.get('password').touched"
        class="helper-text red-text"
      >
      <span *ngIf="form.get('password').errors['required']">Пароль должен быть пустым</span>
      <span *ngIf="form.get('password').errors['minlength'] && form.get('pasword').errors['minlength']['requiredLength']">
        Пароль долже быть не менее {{ form.get('password').errors['minlength']['requiredLength'] }} символов.
      </span>
      </span>
    </div>
  </div>
  <div class="card-action">

    <button type="submit" class="modal-action btn waves-effect" [disabled]="form.invalid || form.disabled">
      Войти
    </button>

  </div>
</form>
